<!-- ============================================== HEADER ============================================== -->
<app-header></app-header>

<!-- ============================================== HEADER : END ============================================== -->
<div class="body-content outer-top-xs" id="top-banner-and-menu">
  <router-outlet></router-outlet>
  <!-- /.container -->
</div>
<!-- /#top-banner-and-menu -->

<!-- ============================================================= FOOTER ============================================================= -->
<app-footer></app-footer>
<!-- ============================================================= FOOTER : END============================================================= -->