<header class="header-style-1">

  <!-- ============================================== TOP MENU ============================================== -->
  <div class="top-bar animate-dropdown">
    <div class="container">
      <div class="header-top-inner">
        <div class="cnt-account">
          <ul class="list-unstyled">
            <li><a [routerLink]="['/login']"><i class="icon fa fa-lock"></i>Tài khoản</a></li>
          </ul>
        </div>
        <div class="clearfix"></div>
      </div>
      <!-- /.header-top-inner -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.header-top -->
  <!-- ============================================== TOP MENU : END ============================================== -->
  <div class="main-header">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3 logo-holder">
          <!-- ============================================================= LOGO ============================================================= -->
          <div class="logo"> <a [routerLink]="['/']"> <img src="assets/images/logo.png" alt="logo"> </a> </div>
          <!-- /.logo -->
          <!-- ============================================================= LOGO : END ============================================================= -->
        </div>
        <!-- /.logo-holder -->

        <div class="col-xs-12 col-sm-12 col-md-7 top-search-holder">
          <!-- /.contact-row -->
          <!-- ============================================================= SEARCH AREA ============================================================= -->
          <div class="search-area">
            <form (submit)="search(s.value)">
              <div class="control-group">
                <input #s class="search-field" placeholder="Tìm kiếm..." (keyup.enter)="search(s.value)"
                  [value]="searchTerm">
                <a class="search-button" (submit)="search(s.value)"></a>
              </div>
            </form>
          </div>
          <!-- /.search-area -->
          <!-- ============================================================= SEARCH AREA : END ============================================================= -->
        </div>
        <!-- /.top-search-holder -->

        <div class="col-xs-12 col-sm-12 col-md-2 animate-dropdown top-cart-row">
          <!-- ============================================================= SHOPPING CART DROPDOWN ============================================================= -->

          <div class="dropdown dropdown-cart"> <a href="#" class="dropdown-toggle lnk-cart" data-toggle="dropdown">
              <div class="items-cart-inner">
                <div class="basket"> <i class="glyphicon glyphicon-shopping-cart"></i> </div>
                <div class="basket-item-count"><span class="count">{{ quantity }}</span></div>
                <div class="total-price-basket"> <span class="lbl">giỏ </span> <span class="total-price"> <span
                      class="sign"></span><span class="value">{{ totalPrice | number}}</span> </span> </div>
              </div>
            </a>
            <ul class="dropdown-menu">
              <li>
                <div class="cart-item product-summary" *ngFor="let item of cartItems">
                  <div class="row">
                    <div class="col-xs-4">
                      <div class="image"> <a [routerLink]="['/chitiet', item.id]"><img
                            src="{{ baseUrl }}/Uploads/Products/{{ item.image }}" alt=""></a> </div>
                    </div>
                    <div class="col-xs-7">
                      <h3 class="name"><a [routerLink]="['/chitiet', item.id]">{{item.tenSanPham}}</a></h3>
                      <div class="price">{{item.soLuong}} x {{item.thanhTien |
                        number}}</div>
                    </div>
                    <div class="col-xs-1 action"> <a (click)="removeFromCart(item)"><i class="fa fa-trash"></i></a>
                    </div>
                  </div>
                </div>
                <!-- /.cart-item -->
                <div class="clearfix"></div>
                <hr>
                <div class="clearfix cart-total">
                  <div class="pull-right"> <span class="text">Tổng :</span><span class='price'>{{ totalPrice |
                      number}}</span>
                  </div>
                  <div class="clearfix"></div>
                  <a [routerLink]="['/giohang']" class="btn btn-upper btn-primary btn-block m-t-20">Giỏ hàng</a>
                </div>
                <!-- /.cart-total-->

              </li>
            </ul>
            <!-- /.dropdown-menu-->
          </div>
          <!-- /.dropdown-cart -->

          <!-- ============================================================= SHOPPING CART DROPDOWN : END============================================================= -->
        </div>
        <!-- /.top-cart-row -->
      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

  </div>
  <!-- /.main-header -->

  <!-- ============================================== NAVBAR ============================================== -->
  <div class="header-nav animate-dropdown">
    <div class="container">
      <div class="yamm navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button data-target="#mc-horizontal-menu-collapse" data-toggle="collapse" class="navbar-toggle collapsed"
            type="button">
            <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span>
            <span class="icon-bar"></span> </button>
        </div>
        <div class="nav-bg-class">
          <div class="navbar-collapse collapse" id="mc-horizontal-menu-collapse">
            <div class="nav-outer">
              <ul class="nav navbar-nav">
                <li class="active dropdown yamm-fw">
                  <a [routerLink]="['/']" data-hover="dropdown" class="dropdown-toggle" data-toggle="dropdown">Trang
                    chủ</a>
                </li>
                <li class="dropdown"> <a href="#" class="dropdown-toggle" data-hover="dropdown"
                    data-toggle="dropdown">Sản phẩm</a>
                  <ul class="dropdown-menu pages">
                    <li>
                      <div class="yamm-content">
                        <div class="row">
                          <div class="col-xs-12 col-menu">
                            <ul class="links">
                              <li *ngFor="let item of loaiSanPham">
                                <a [routerLink]="['/danhmuc', item.id]">{{ item.tenLoai }}</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
                <li class="dropdown"> <a [routerLink]="['/tintuc']">Tin tức</a> </li>
                <li class="dropdown"> <a [routerLink]="['/lienhe']">Liên hệ</a> </li>

              </ul>
              <div class="clearfix"></div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
  <!-- /.header-nav -->
  <!-- ============================================== NAVBAR : END ============================================== -->

</header>